<form action="/api/user/signup" method="POST">
    <div>
        <label>Логин:</label>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Имя пользователя:</label>
        <input type="text" name="displayName" />
    </div>
    <div>
        <label>E-mail:</label>
        <input type="email" name="emails" />
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться" />
    </div>
</form>